.row {
  display: flex;
}
.col {
  flex: 1;
}
.tile {
    border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 50px;
}
.water {
    background-color: aqua;
}
.grass {
    background-color: greenyellow;
}
.genaric {
    background-color: sandybrown;
}
